.header_comp {
    background-image: url('../assets/subheader2.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.header_comp2 {
    background-image: url('../assets/subheader.png');
    background-repeat: no-repeat;
    background-size: cover;
}